<h1>Admin::Dashboard#show</h1>

<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<p>Total number of products: <var><%= Product.all.count%></var></p>

<%= link_to 'All Products', [:admin, :products], class: 'btn btn-info' %>

<p>Total number of categories: <var><%= Category.all.count%></var></p>

<%= link_to 'All Categories', [:admin, :categories], class: 'btn btn-info' %>
